@{
    ViewBag.Title = "Buffer Overflow";
    ViewBag.Description = "Der erste Angriff";

    var dataFile = Server.MapPath("~/App_Data/FirstExample.c");
    var code = "";
    code = File.ReadAllText(@dataFile).Trim();
}

<script src="~/Content/js/prism.js"></script>

<h2>Stack Overflow</h2>

<div class="row">
    <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Der erste Buffer Overflow</h3>
                </div>
                <div class="box-body">
                    Zu Beginn, soll der nachfolende einfache C-Code analysiert werden. Es werden darin zuerst drei Variablen angelegt.
                    Im Anschluss wird das Eingabeargument in einer der Variablen gespeichert. Da das Argument vor der Speicherung nicht auf seine Größe überprüft wird, ist es möglich die anderen Variablen mit einer zu großen Eingabe zu überschreiben.
                    <br />
                    <br />
                    Versuche jetzt dich mithilfe der untenstehenden Maske zu authentifizieren.
                    <pre class="line-numbers">
                    <code class="language-c">
@code
                        </code>
                    </pre>


                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-5">
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">Media</h3>
            </div>
            <div class="box-body">

            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-5">
        <div class="box box-default collapsed-box">
            <div class="box-header">
                <h3 class="box-title">Tips</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="box-group" id="accordion">
                    <div class="panel box box-success">
                        <div class="box-header">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Expert Level Tip
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="box-body">
                                Sieh dir die Abfrage des Authentifizierungsflags genau an. Was muss eintreten, damit die if-Verzweigung betreten wird? <br />
                                Wie kann dieses Flag von außen beeinflusst werden? <br /><br />
                                Versuche weiterhin das Lösungswort auf "YOU_ARE_AUTHENTICATED" zu setzen!
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-warning">
                        <div class="box-header">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Intermediate Level Tip
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="box-body">
                                Die Variable "authflag", das Authentifizierungsflag, muss von seinem Initialzustand auf einen beliebigen anderen Wert gesetzt werden, damit die if-Verzweigung betreten wird. <br />
                                Durch einen Eingabe-String, der größer, als die Variable "buffer" ist, kann dieses Flag überschrieben werden.<br />
                                Wie groß muss der Eingabe-String sein?<br />
                                Warum muss der Eingabe-String größer als diese Variable sein?

                            </div>
                        </div>
                    </div>
                    <div class="panel box box-danger">
                        <div class="box-header">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Noob Level Tip
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="box-body">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">Angriff</h3>
                </div>
                <div class="box-body">
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" placeholder="Enter..."></textarea>
                        </div>
                    </form>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Make it so!</button>
                </div>
            </div>
        </div> 
    </div>
</div>
