
<head>
    <style type="text/css">
        .box-body {
            width: 1298px;
            height: 32px;
        }
    </style>
</head>
@{
    ViewBag.Title = "Buffer Overflow";
    ViewBag.Description = "...";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">Theorie</h3>
            </div>
            <div class="box-body">
                Buffer Overflow ist der Überbegriff für eine Schwachstelle im Quellcode der für
                einen Angriff genutzt wird und gehört zu den häufigsten Angriffsmethoden.
            </div>
        </div>
    </div>
</div>
<div class="box box-danger">
</div>
