
@{
    ViewBag.Title = "Buffer Overflow";
    ViewBag.Description = "Einführung";
}

<div class="col-xs-12 col-md-7">

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">Theorie</h3>
            <div class="box-body">
                Buffer Overflow ist der Überbegriff für eine Schwachstelle im Quellcode der für
                einen Angriff genutzt wird und gehört zu den häufigsten Angriffsmethoden.
                <br />
                <br />
                Einfach ausgedrückt, werden bei diesem Angriff einem Programm mehr Daten übergeben als es erwartet bzw. verarbeiten kann. Bei guter Programmierung führt dies zu einem Absturz des Programmes oder einer Fehlermeldung. Bei schlechter Programmierung (fehlender Überprüfung der Eingangsdaten) reicht der freigehaltene Speicherplatz für die Variable aber nicht aus und nachfolgende Speicherbereiche werden überschrieben. Für das Überschreiben der nachfolgenden Speicherbereiche ist die Speicherverwaltung verantwortlich. Beim Start eines Programmes wird diesem nämlich ein bestimmter Speicherbereich zugewiesen.
                <br />
                Dieser ist, wie in Abbildung 10.1 dargestellt, in drei Abschnitte aufgeteilt: den Code, den Heap und den Stack. Im Code liegt der eigentliche Quellcode, der nicht mehr verändert werden kann. Darüber liegt der Heap, in dem dynamische Variablen abgelegt sind. Der Stack beginnt am oberen Ende des Speichers und wächst mit jedem Eintrag nach unten. Dabei wird nach dem Prinzip des LIFO (last in, first out) vorgegangen. Gespeichert werden im Stack lokale Variablen, der Inhalt von Prozessorregistern und Rücksprung-Adressen von Unterprogrammen. Bei einem Angriff durch Buffer-Overflow wird einen lokale Variable mit mehr Daten beschrieben, als reserviert sind. Deshalb wird der nachfolgende Speicherbereich überschrieben, was entweder andere lokale Variablen oder aber Rücksprung-Adressen sein können.</div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-xs-12 col-md-5">
    <div class="box box-warning">
    <div class="box-header">
        <h3 class="box-title">Media</h3>
    </div>
        <div class="box-body">
            <img alt="Speicher Aufbau" class="auto-style1" src="../../Content/img/Attacks/BufferOverflowImg/speicherAufbau.jpg" /></div>
    </div>
</div>

<p>
    <input id="btnContinue" class=".btn-lg" type="button" value="button" /></p>


