
@{
    ViewBag.Title = "Buffer Overflow";
    ViewBag.Description = "...";
}

<div class="col-xs-12 col-md-7">

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">Theorie</h3>
            <div class="box-body">
                Buffer Overflow ist der Überbegriff für eine Schwachstelle im Quellcode der für
                einen Angriff genutzt wird und gehört zu den häufigsten Angriffsmethoden.
            </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-xs-12 col-md-5">
    <div class="box-header">
        <h3 class="box-title">Media</h3>
    </div>
</div>

