@{
    ViewBag.Title = "Security-Workbench Tutorials";
    ViewBag.Description = "Introduction";
}

<div class="row">
    <div class="col-xs-8 col-md-8">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">Intro Video</h3>
            </div>
            <div class="box-body">
                <div align="center" class="embed-responsive embed-responsive-16by9">
                    <video muted controls class="embed-responsive-item">
                        <source src="~/Content/video/Intro.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>