@{
    ViewBag.Title = "DOM-based/ local Cross-Site-Scripting";
    ViewBag.Description = "Tutorial";
}

<div class="row">
    <div class="col-xs-8 col-md-8">
        <div class="box box-default">
            
        </div>
    </div>
</div>
