@{
    ViewBag.Title = "Persistent/ Stored Cross-Site-Scripting";
    ViewBag.Description = "Tutorial";
}

<script src="~/Scripts/js/guestbook.js" type="text/javascript"></script>


<div class="row">
    <div class="col-xs-8 col-md-8">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">Aufgabenstellung</h3>
            </div>
            <div class="box-body">
                <blockquote>
                    <p>
                        Die vorliegende Webseite entspricht einem Gästebuch, an dem der Anwender einen Eintrag hinterlassen kann. 
                        Finden Sie an dieser Stelle die Sicherheitslücke und nutzen sie diese aus!
                    </p>
                </blockquote>

            </div>

        </div>

        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">Aufgabe</h3>
            </div>
            <div class="box-body">
                <FORM ENCTYPE="text/plain" NAME="mail" METHOD='GET' onSubmit="return submitForms()">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="guestbookEntry">Hinterlasse eine Eintrag in Mr. Robots Gästebuch</label>
                            <textarea class="form-control" id="guestbookEntry" rows="4"></textarea>
                        </div>
                        <button onclick="" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br /><br />
                    <h3>Mr. Robots Gästebuch</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Datum</th>
                                <th>Eintrag</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--   <tr>
                       <td>John</td>
                       <td>Doe</td>
                       <td>john@example.com</td>
                   </tr> -->

                        </tbody>
                    </table>

</div>
        </div>
    </div>
</div>
