@{
    ViewBag.Title = "Login-Parcours Level 4";
    ViewBag.Description = "Übungsaufgaben";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/Scripts/js/loginParcour.js"></script>

<body>
    <div class="container" id="instruction">
        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-xs-4 col-md-4">
                <p class="text-center"><a href="#" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#login-modal">Start</a></p>
            </div>
        </div>
    </div>

    <div class="container" id="solution" hidden>
        <div class="row">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-xs-6 col-md-6">
                <h1 style="color:green"><b>Congratulations - Level 4 solved!</b></h1>
                <p class="text-center">
                    <a href="#" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#login-modal">Restart Level</a>
                    <br /><br />
                    <a href="@Url.Action("LoginParcoursLevel5", "Home")" class="btn btn-primary btn-lg" role="button">Next Level</a>
                </p>
            </div>
        </div>
    </div>



    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <img class="img-bordered" id="img_logo" src="~/Content/img/hackersymbol.png">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>

                <!-- Begin # DIV Form -->
                <div id="div-forms">

                    <!-- Begin # Login Form -->
                    <form id="login-form">
                        <div class="modal-body">
                            <div id="div-login-msg">
                                <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-login-msg">Bob ist kein guter Entwickler. Er hat das Passwort vergessen und murmelt die ganze Zeit nur etwas von aliens.txt. Ich weiß auch nicht was das bedeuten soll?!</span>
                            </div>
                            <input id="login_username" class="form-control" type="text" value="root" required disabled>
                            <input id="login_password" class="form-control" type="password" placeholder="Password" required>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="checkLoginCredentialsLevel4()">Login</button>
                            </div>
                            <div>
                                <a>Lost Password?</a>
                                <br />
                                <a>Register</a>
                            </div>
                        </div>
                    </form>

                </div>
                <!-- End # DIV Form -->

            </div>
        </div>
    </div>

</body>
